{% extends "base.html" %}

{% block content %}

<h2>Participants for "{{ event['title'] }}"</h2>

{% if participants %}
<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>College</th>
        <th>Year</th>
        <th>Branch</th>
        <th>Payment Screenshot</th>
    </tr>

    {% for p in participants %}
    <tr>
        <td>{{ p['id'] }}</td>
        <td>{{ p['full_name'] }}</td>
        <td>{{ p['mobile'] }}</td>
        <td>{{ p['email'] }}</td>
        <td>{{ p['college'] }}</td>
        <td>{{ p['year'] }}</td>
        <td>{{ p['branch'] }}</td>

        <td>
            <img src="{{ url_for('static', filename='uploads/' ~ p['payment_image']) }}"
                 style="height:90px;">
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>No participants yet.</p>
{% endif %}

<p>
    <a class="btn" href="{{ url_for('index') }}">⬅ Back to events</a>
</p>
<p>
  <a class="btn" href="{{ url_for('export', event_id=event['id']) }}">
    ⬇ Export CSV
  </a>
</p>


{% endblock %}
